{% extends "base.html"%}

{% block title%}Login{% endblock %}

{% block content %}
<div class="container mt-5 mb-5" style="max-width: 420px;">
    <div class="login-header">
        <div class="login-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="login-icon" aria-hidden="true"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
        </div>
        <h2 class="login-title">Finanzas</h2>
        <p class="login-description">Ingrese su usuario y mail. En caso de necesitar registrarse contactarse con el administrador</p>
    </div>

    <!-- Muesta solo mensaje de error, el mensaje success se encuentra en el base.html -->
    {% with messages = get_flashed_messages(with_categories=true, category_filter=['login-error']) %}
        {% if messages %}
            {% for categorie, message in messages %}
            <div class="alert alert-{{ 'success' if categorie == 'success' else 'warning'}} login-flash-message mt-3">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="login-card">
        <form method="POST" action="{{ url_for('auth.login_post') }}">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <!-- A - "Hidden Inputs" -->
            <input type="hidden" name="next" value="{{ request.args.get('next',  '') }}">

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>

    <div class="login-register">
        ¿Primera vez? <a href="#">Solicite el alta</a>
    </div>


</div>
{% endblock %}


<!-- A - Elemento invisible que envia dato dentro del POST.
    Si el login tiene origen en la seccion Prestaciones, el routes.py
    Flask procesará el dato atraves del metodo request.form (en la variable next_url)
    EL fin es redirifir al usuario una vez loguedao a la seccion directo
-->
